Package: sparky-desktop-jade
Version: 20180825
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 48
Depends: blackbox, gpicview, gscreenshot | sparky-screenshot, gufw, jadesktop, leafpad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pavucontrol, pulseaudio, smbclient, sparky-about, sparky-aptus-upgrade, sparky-core, sparky-polkit, sparky-remsu, sparky-theme-root, sudo, synaptic, system-config-printer, thunar, thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman, ufw, xarchiver | file-roller, xscreensaver, xdg-utils, xdg-user-dirs
Recommends: debi-tool
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Jade
  This meta package installs the Jade desktop with a minimal set of applications

