Package: sparky-desktop-jade
Version: 20200422
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 48
Depends: blackbox, gpicview, jadesktop, leafpad | mousepad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pavucontrol, plymouth, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-plymouth, sparky-polkit, sparky-remsu, sparky-theme-root | sparky-theme-root-noir, sudo, synaptic, system-config-printer, thunar, thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman, xarchiver | file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Recommends: debi-tool
Suggests: gscreenshot | sparky-screenshot, gufw, ufw
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Jade
  This meta package installs the Jade desktop with a minimal set of applications

