Package: sparky-desktop-gnome-shell
Version: 20191107
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: gedit, gexec, gnome-menus, gnome-screensaver, gnome-screenshot, gnome-session, gnome-terminal, gnome-system-monitor, gnome-tweak-tool, gpicview, gufw, gdm3 | lightdm, menu, menu-xdg, nautilus, network-manager, network-manager-gnome, pavucontrol, plymouth, policykit-1-gnome, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-gexec, sparky-plymouth, sudo, synaptic, system-config-printer, ufw, xarchiver|file-roller, xdg-utils, xdg-user-dirs, xinit, xterm
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop GNOME Shell
  This meta package installs the GNOME Shell desktop with a minimal set of applications.

