Package: sparky-desktop-lxde
Version: 20161226
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: gdebi, gpicview, gscreenshot, gufw, leafpad, lightdm, lxappearance, lxde-common, lxinput, lxpolkit, lxrandr, lxtask, lxterminal, network-manager, network-manager-gnome, openbox, pcmanfm, pavucontrol, pulseaudio, smbclient, sparky-about, sparky-aptus-upgrade, sparky-core, synaptic, system-config-printer, ufw, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs
Section: System
Priority: optional
Description: Sparky Desktop LXDE
  This meta package installs the LXDE desktop with a minimal set of applications

