Package: sparky-desktop-pantheon
Version: 20190403
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: gscreenshot, gufw, leafpad | mousepad, lightdm, lxtask, menu, menu-xdg, network-manager, network-manager-gnome, pantheon, pavucontrol, plymouth, policykit-1-gnome, pulseaudio, slim, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-plymouth, sudo, synaptic, system-config-printer, ufw, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xinit, xterm
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Pantheon
  This meta package installs the Pantheon desktop with a minimal set of applications
