Package: sparky-desktop-fluxbox
Version: 20231230
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 44
Depends: fluxbox, fluxbox-theme-sparky, gexec, leafpad | mousepad, lightdm | sddm | gdm3, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pnmixer, plymouth, pavucontrol, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-fileopen, sparky-plymouth, sparky-polkit, sparky-theme-root | sparky-theme-root-noir, sudo, synaptic, system-config-printer, thunar, xarchiver|file-roller, xdg-utils, xdg-user-dirs, xfce4-notifyd, xfce4-power-manager, xinit
Suggests: menu-l10n, gscreenshot, gufw, sparky-gufw, ufw, gdebi | debi-tool, xscreensaver, pulseaudio | pipewire
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Fluxbox
  This meta package installs the Fluxbox desktop with a minimal set of applications

