Package: sparky-desktop-fluxbox
Version: 20180929
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 44
Depends: fluxbox, fluxbox-theme-sparky, gexec, gscreenshot, gufw, leafpad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pasystray, plymouth, pavucontrol, pcmanfm, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-gufw, sparky-plymouth, sparky-polkit, sparky-theme-root, sudo, synaptic, system-config-printer, ufw, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Fluxbox
  This meta package installs the Fluxbox desktop with a minimal set of applications

