Package: sparky-desktop-enlightenment
Version: 20180813
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: enlightenment, ecrire, ephoto, gexec, gufw, lightdm, lxtask, menu, menu-xdg, sparky-e-run|econnamn, pulseaudio, smbclient, sparky-about, sparky-core, sparky-aptus-upgrade, sparky-gufw, sparky-polkit, sparky-theme-root, sudo, synaptic, system-config-printer, terminology, ufw, xarchiver|file-roller, xdg-utils, xdg-user-dirs
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Enlightenment
  This meta package installs the Enlightenment desktop with a minimal set of applications

