Package: sparky-desktop-enlightenment
Version: 20201115
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: enlightenment, lightdm, lxtask, menu, menu-xdg, sparky-e-run|econnman, plymouth, pulseaudio, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-plymouth, sparky-polkit, sparky-theme-root | sparky-theme-root-noir, sudo, synaptic, system-config-printer, terminology, xarchiver|file-roller, xdg-utils, xdg-user-dirs, xinit
Recommends: ecrire, ephoto
Suggests: menu-l10n, gexec, gufw, sparky-gufw, ufw, gdebi | debi-tool
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Enlightenment
  This meta package installs the Enlightenment desktop with a minimal set of applications

