Package: sparky-desktop-openbox-arm
Version: 20180813
Architecture: armhf
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: alsa-utils, tint2 | fbpanel, gexec, gpicview, gscreenshot, gufw, leafpad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, obconf, openbox, smbclient, sparky-about, sparky-aptus-upgrade, sparky-core, sparky-polkit, sparky-theme-root, sparky-remsu, sudo, synaptic, system-config-printer, thunar, thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman, ufw, wm-logout, xarchiver | file-roller, xscreensaver, xdg-utils, xdg-user-dirs
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Conflicts: sparky-desktop-openbox
Replaces: sparky-desktop-openbox
Section: System
Priority: optional
Description: Sparky Desktop Openbox ARM
  This meta package installs the Openbox desktop with a minimal set of applications for RaspberryPi

