Package: sparky-desktop-openbox-arm
Version: 20201117
Architecture: armhf
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 36
Depends: alsa-utils, tint2 | fbpanel, gexec, gpicview, leafpad | mousepad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, obconf, openbox, openbox-menu, pnmixer, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-dashboard, sparky-fileopen, sparky-gexec, sparky-nm-applet, sparky-polkit, sparky-raspi-config, sparky-remsu, sparky-theme-root | sparky-theme-root-noir, sudo, synaptic, system-config-printer, thunar, thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman, wm-logout, xarchiver | file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Suggests: menu-l10n, gscreenshot, sparky-obmenu | jgmenu, gufw, ufw, gdebi | debi-tool
Homepage: https://sparkylinux.org
Conflicts: sparky-desktop-openbox
Replaces: sparky-desktop-openbox
Section: System
Priority: optional
Description: Sparky Desktop Openbox ARM
  This meta package installs the Openbox desktop with a minimal set of applications for RaspberryPi

