Package: sparky-desktop-trinity
Version: 20190224
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: ark-trinity, gufw, kmix-trinity, kscreensaver-trinity, ksnapshot-trinity, lightdm, menu, menu-xdg, network-manager, network-manager-tde, plymouth, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-gufw, sparky-plymouth, sparky-polkit, sparky-theme-root, sudo, synaptic, synaptic-trinity, sudo-trinity, tde-core-trinity, xdg-utils, xdg-user-dirs, xinit, xterm
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Trinity
  This meta package installs the Trinity desktop environment with a minimal set of applications

