Package: sparky-desktop-openbox-noir
Version: 20200610
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 36
Depends: arc-darkest-gtk-theme, arc-darkest-suru-icon-theme, dconf-cli, exo-utils, fonts-font-awesome, gpicview, gsimplecal, inxi, jgmenu, leafpad | mousepad, libexo-1-0, libnotify-bin, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, obconf, openbox, openbox-theme-sparky-noir, pavucontrol, picom, plank, plank-theme-sparky-noir, plymouth, pnmixer, pulseaudio, rofi, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-artwork-noir, sparky-core, sparky-dashboard, sparky-fileopen, sparky-libinput, sparky-nm-applet, sparky-plymouth, sparky-polkit, sparky-remsu, sparky-theme-root-noir, sudo, synaptic, system-config-printer, thunar, thunar-archive-plugin, thunar-media-tags-plugin, thunar-volman, tint2, wm-logout, xarchiver | file-roller, xdg-utils, xdg-user-dirs, xfce4-power-manager, xfce4-notifyd, xfce4-screenshooter, xinit
Recommends: acpi
Conflicts: sparky-desktop-openbox-arm
Replaces: sparky-desktop-openbox-arm
Suggests: menu-l10n, gufw, ufw, gdebi | debi-tool
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Openbox Noir
  This meta package installs the Openbox Noir desktop with a minimal set of applications
