Package: sparky-desktop-lumina
Version: 20230619
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: leafpad | featherpad | mousepad, lightdm | sddm | gdm3, lumina-desktop, lxinput, lxpolkit | lxsession, lxtask, lxterminal | qterminal, menu, menu-xdg, network-manager, network-manager-gnome, pasystray, pavucontrol, plymouth, pulseaudio, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-nm-applet, sparky-plymouth, sparky-polkit, sparky-theme-root | sparky-theme-root-noir, sudo, synaptic, system-config-printer, xdg-utils, xdg-user-dirs, xinit
Suggests: menu-l10n, gexec, gufw, sparky-gufw, ufw, gdebi | debi-tool, xscreensaver
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Lumina
  This meta package installs the Lumina desktop with a minimal set of applications

