Package: sparky-desktop-lumina
Version: 20191223
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: gufw, leafpad | featherpad | mousepad, lightdm | sddm, lumina-desktop, lxinput, lxpolkit | lxsession, lxtask, lxterminal | qterminal, menu, menu-xdg, network-manager, network-manager-gnome, pasystray, pavucontrol, plymouth, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-gufw, sparky-nm-applet, sparky-plymouth, sparky-polkit, sparky-theme-root, sudo, synaptic, system-config-printer, ufw, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Recommends: debi-tool
Suggests: menu-l10n, gexec
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Lumina
  This meta package installs the Lumina desktop with a minimal set of applications

