Package: sparky-desktop-cde
Version: 20180929
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: cde-desktop, gpicview, gscreenshot, gufw, lightdm, lxinput, lxrandr, lxtask, menu, menu-xdg, network-manager, network-manager-gnome, pavucontrol, plymouth, policykit-1-gnome, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-plymouth, sparky-theme-root, sudo, synaptic, ufw, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop CDE
  This meta package installs the CDE - Common Desktop Environment desktop with a minimal set of applications
