Package: sparky-desktop-cde
Version: 20230619
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: cde-desktop, gpicview, lightdm | sddm |gdm3, lxinput, lxrandr, lxtask, menu, menu-xdg, network-manager, network-manager-gnome, pavucontrol, plymouth, policykit-1-gnome, pulseaudio, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-plymouth, sudo, synaptic, xarchiver|file-roller, xdg-utils, xdg-user-dirs, xinit
Suggests: menu-l10n, gscreenshot, gufw, ufw, gdebi | debi-tool, xscreensaver
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop CDE
  This meta package installs the CDE - Common Desktop Environment desktop with a minimal set of applications
