Package: sparky-desktop-sugar
Version: 20220913
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: lightdm | sddm | gdm3, network-manager, plymouth, pulseaudio, smbclient, sparky-about, sparky-core, sparky-plymouth, sparky-polkit, sparky-theme-root, sudo, sugar-session, xdg-utils, xdg-user-dirs, xinit
Suggests: ufw
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Sugar
  This meta package installs the Sugar Learning Platform desktop with a minimal set of applications

