Package: sparky-desktop-pekwm
Version: 20180813
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: fbpanel, gexec, gpicview, gscreenshot, gufw, leafpad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pasystray, pavucontrol, pcmanfm, pekwm, pekwm-themes, pulseaudio, smbclient, sparky-about, sparky-aptus-upgrade, sparky-core, sparky-editor, sparky-polkit, sparky-theme-root, sudo, synaptic, system-config-printer, ufw, wm-logout, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs
Recommends: acpi, debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop PekWM
  This meta package installs the PekWM desktop with a minimal set of applications

