Package: sparky-desktop-pekwm
Version: 20190403
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: fbpanel, gexec, gpicview, gscreenshot, gufw, leafpad | mousepad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pnmixer, pavucontrol, pekwm, pekwm-themes, plymouth, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-editor, sparky-fileopen, sparky-plymouth, sparky-polkit, sparky-theme-root, sudo, synaptic, system-config-printer, thunar, ufw, wm-logout, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xfce4-notifyd, xfce4-power-manager, xinit
Recommends: acpi, debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop PekWM
  This meta package installs the PekWM desktop with a minimal set of applications

