Package: sparky-desktop-i3
Version: 20180926
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 44
Depends: dunst, fonts-font-awesome, gpicview, gscreenshot, gufw, i3, i3blocks, leafpad, lightdm, lm-sensors, lxinput, lxrandr, lxtask, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pasystray, pavucontrol, pcmanfm, pulseaudio, rofi, rxvt-unicode, smbclient, sparky-about, sparky-conky-i3, sparky-core, sparky-gufw, sparky-polkit, sparky-theme-root, sudo, synaptic, sysstat, system-config-printer, ufw, xarchiver|file-roller, xbacklight, xscreensaver, xdg-utils, xdg-user-dirs
Recommends: debi-tool, lxterminal
Suggests: menu-l10n, suckless-tools
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop i3
  This meta package installs the i3 desktop with a minimal set of applications

