Package: sparky-desktop-bspwm
Version: 20180929
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: bspwm, gpicview, gscreenshot, gufw, leafpad, lightdm, lxinput, lxrandr, lxtask, lxterminal, menu, menu-xdg, network-manager, network-manager-gnome, nitrogen, pasystray, pavucontrol, pcmanfm, plymouth, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-conky-bspwm, sparky-core, sparky-plymouth, sparky-polkit, sparky-theme-root, sudo, synapse, synaptic, system-config-printer, tint2, ufw, xarchiver|file-roller, xfce4-appfinder, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Recommends: debi-tool
Suggests: menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop bspwm
  This meta package installs the bspwm desktop with a minimal set of applications

