Package: sparky-desktop-cinnamon
Version: 20200210
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: cinnamon, cinnamon-core, gedit, gnome-terminal, gpicview, lightdm, menu, menu-xdg, network-manager, network-manager-gnome, plymouth, policykit-1-gnome, pulseaudio, smbclient, sparky-about, sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-gufw, sparky-plymouth, sudo, synaptic, system-config-printer, xarchiver|file-roller, xdg-utils, xdg-user-dirs, xinit, xterm
Recommends: debi-tool
Suggests: menu-l10n, gufw, ufw
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Cinnamon
  This meta package installs the Cinnamon desktop with a minimal set of applications.

