Package: sparky-desktop-kde
Version: 20180808
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: ark, breeze, dolphin, gufw, gwenview, kde-plasma-desktop, kwrite, kde-config-gtk-style, kde-config-gtk-style-preview, kdebase-runtime, konsole, kscreen, ksnapshot, ksysguard, kwalletmanager, kwin-x11, menu, menu-xdg, network-manager, plasma-desktop, plasma-theme-sparky, plasma-nm, print-manager, pulseaudio, sddm, sddm-theme-breeze, sddm-theme-sparky, smbclient, sparky-about, sparky-aptus-upgrade, sparky-core, sparky-gufw, sparky-remsu, sparky-theme-root, synaptic, ufw, xdg-utils, xdg-user-dirs, xterm
Suggests: kde-standard | kde-full, menu-l10n
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop KDE
  This meta package installs the KDE desktop with a minimal set of applications

