Package: sparky-desktop-kde
Version: 20231230
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: ark, breeze, dolphin, gwenview, kwrite, kde-config-gtk-style, kde-config-gtk-style-preview, konsole, kscreen, kwalletmanager, kwin-x11, menu, menu-xdg, network-manager, plasma-desktop, plasma-theme-sparky | plasma-theme-sparky7 | plasma-theme-sparky8, plasma-nm, plymouth, print-manager, sddm | lightdm | gdm3, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-plymouth, sparky-remsu, sparky-theme-root | sparky-theme-root-noir, sudo, synaptic, systemsettings, xdg-utils, xdg-user-dirs, xinit, spterm | xterm
Recommends: kde-plasma-desktop, ksysguard
Suggests: kde-standard | kde-full, menu-l10n, kdebase-runtime, ksnapshot, gufw, sparky-gufw, ufw, gdebi | debi-tool, sddm-theme-breeze, sddm-theme2-sparky | sddm-theme-sparky, pulseaudio | pipewire
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop KDE
  This meta package installs the KDE desktop with a minimal set of applications

