Package: sparky-desktop-xfce
Version: 20201115
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: gpicview, lightdm, menu, menu-xdg, mousepad, network-manager, network-manager-gnome, pavucontrol, plymouth, policykit-1-gnome, pulseaudio, smbclient, sparky-about, sparky-aptus-upgrade, sparky-core, sparky-aptus-appcenter | sparky-aptus, sparky-plymouth, sudo, synaptic, system-config-printer, thunar, thunar-archive-plugin, xfce4, xfce4-datetime-plugin, xfce4-notifyd, xfce4-power-manager, xfce4-screenshooter, xfce4-taskmanager, xfce4-terminal, xfce4-whiskermenu-plugin, xfce4-xkb-plugin, xfwm4-themes, xarchiver|file-roller, xscreensaver, xdg-utils, xdg-user-dirs, xinit
Recommends: sparky6-theme
Suggests: menu-l10n, gufw, ufw, gdebi | debi-tool
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop Xfce
  This meta package installs the Xfce desktop with a minimal set of applications

