Package: sparky-desktop-gnome-flashback
Version: 20250308
Architecture: all
Maintainer: pavroo <pavroo@onet.eu>
Installed-Size: 32
Depends: gedit, gnome-flashback, gnome-menus, gnome-screensaver, gnome-screenshot, gnome-session-bin, gnome-session-flashback, gnome-terminal, gnome-system-monitor, gpicview, lightdm | sddm | gdm3, menu, menu-xdg, nautilus, network-manager, network-manager-gnome, pavucontrol, plymouth, policykit-1, smbclient, sparky-about, sparky-aptus-appcenter | sparky-aptus, sparky-aptus-upgrade, sparky-core, sparky-nm-applet, sparky-plymouth, sudo, synaptic, system-config-printer, xarchiver|file-roller, xdg-utils, xdg-user-dirs, xinit, xterm
Suggests: menu-l10n, gexec, sparky-gexec, gufw, sparky-gufw, ufw, gdebi | debi-tool, gnome-tweak-tool, pulseaudio | pipewire
Homepage: https://sparkylinux.org
Section: System
Priority: optional
Description: Sparky Desktop GNOME Flashback
  This meta package installs the GNOME Flashback desktop with a minimal set of applications. To get GNOME Shell, install gnome-core or gnome package.

